<div class="container-lg p-3 d-flex justify-content-between bg-success">
  <h4 class="text-light fw-bold">Bienvenido {{this.user.user}}</h4>

  <a class="btn btn-outline-dark" href="/logout">Desloguear</a>
</div>