<section class="text-center container-sm d-flex flex-column align-items-center">

  <form action="/login" method="post">
    <label for="nombre" class="form-label">Nombre:</label>
    <input type="text" id="name" class="form-control" name="nombre" />
    <button type="submit" class="btn btn-primary m-3">Ingresar</button>

  </form>

</section>